.layer-banner {
    .carousel-control-prev, .carousel-control-next {
        display: none;
    }
}
.carousel-indicators li{
    width: 5px;
    height: 5px;
    border-radius: 50%;
}
ol, ul, dl{
    margin-bottom: 1px;
}

.carousel-control-prev:hover, 
.carousel-control-prev:focus,
.carousel-control-next:hover, 
.carousel-control-next:focus{
    -webkit-box-shadow: gray 0px 0px 15px;
}