.layer-banner {
    .carousel-control-prev, .carousel-control-next {
        display: none;
    }
}
.carousel-indicators li{
    width: 5px;
    height: 5px;
    border-radius: 50%;
}
ol, ul, dl{
    margin-bottom: 1px;
}

.carousel-control-prev:hover, 
.carousel-control-prev:focus {
    background: linear-gradient(-90deg, #fff0, #fff);
}
.carousel-control-next:hover, 
.carousel-control-next:focus{
    background: linear-gradient(90deg, #fff0, #fff);
}